<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Welcome 
                </span>
            </div>


                <div class="container d-flex align-items-center justify-content-center d-inline-block p-4">
                    <a routerLink="/signup" routerLinkActive="active"> <button class="login100-form-btn">
                        Sign Up
                    </button></a>
                </div>
                <div class="container d-flex align-items-center justify-content-center d-inline-block p-4">
                    <a routerLink="/login" routerLinkActive="active"> <button class="login100-form-btn">
                        Login
                    </button></a>
                </div>
           
            
        </div>
    </div>
</div>


    
  