<!-- For Checking loggedin -->
<a  id="home-check-link" routerLink="/" routerLinkActive="active" type="hidden"></a>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#" id="add_new"> -->
          <a class="btn btn-outline-success my-2 my-sm-0" (click)="openModal(null, 'add')" id="add_new">
            Add Employee <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" ngModel (ngModelChange)="searchEmployee(key.value)"
          #key="ngModel" name="key" placeholder="Search Employee" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logOut()">
          LogOut
        </button>
      </form>
    </div>
  </nav>
  
  <!-- Employee created alert -->
  <div class="d-flex align-items-center justify-content-center d-inline-block">
    <div
      class="alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-center d-inline-block"
      role="alert" *ngIf="isCreated">
      <strong>Awesome!</strong> New Employee created
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  
  <!-- Employee updated alert -->
  <div class="d-flex align-items-center justify-content-center d-inline-block">
    <div
      class="alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-center d-inline-block"
      role="alert" *ngIf="isUpdated">
      <strong>Awesome!</strong> Employee Details Updated
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  
  <!-- Employee Already Exists -->
  <div class="d-flex align-items-center justify-content-center d-inline-block" *ngIf="userExists">
    <div
      class="alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-center d-inline-block"
      role="alert">
      <strong>User with this email already exists</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  
  <!-- No Employee alert -->
  <div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      No Employees data found in database.
    </div>
  </div>
  
  <!-- Display Employee Area -->
  <div class="container my-4" id="main-container">
    <div class="row">
      <div class="col-md-6 col-xl-3" *ngFor="let employee of employees">
        <div class="card m-b-30">
          <!-- d-flex align-items-center justify-content-center in below div -->
          <div class="card-body row">
            <div class="col-6">
              <a href=""><img src="{{ employee.imgUrl }}" alt="" class="img-fluid rounded-circle w-60" /></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h5>{{ employee.name | titlecase }}</h5>
              <p class="m-0">{{ employee.jobTitle }}</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-envelope float-right"></i>Email :
              <a href="#">{{ employee.email }}</a>
            </li>
            <li class="list-group-item">
              <i class="fa fa-phone float-right"></i>Phone : {{ employee.phone }}
            </li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a  class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                data-original-title="Edit" (click)="openModal(employee, 'update')"><i class="fa fa-pencil"></i>
              </a>
              <a  class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
                data-original-title="Delete" (click)="openModal(employee, 'delete')"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Add Employee Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Add Employee Details
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="addEmployee(addForm)" class="userForm">
            <!-- User Already exists message -->
            <!-- <div id="error-div" *ngIf="userExists" class="alert d-flex align-items-center justify-content-center d-inline-block" style="padding-left: 0px ">
    <div class="float-left ">
      User with this Email already exists
    </div>
  </div> -->
            <div class="form-group">
              <label for="name">Employee Name</label>
              <input type="text" ngModel #name="ngModel" [(ngModel)]="newEmployee.name" name="name" class="form-control"
                id="Name" placeholder="Enter Name" required />
  
              <!-- Client side Name validation -->
              <div *ngIf="name.invalid && (name.dirty || name.touched)" id="error-div" class="alert " style="padding-left: 0px ">
                <div *ngIf="name.errors?.['required']" class="float-left ">
                  Name is required.
                </div></div>
  
              <!-- Server side Name validation -->
              <div *ngIf="userError?.name" id="error-div" class="alert" style="padding-left: 0px">
                <div class="float-left">
                  {{ userError.name }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="jobTitle">Designation</label>
              <input type="text" #jobTitle="ngModel" ngModel [(ngModel)]="newEmployee.jobTitle" name="jobTitle"
                class="form-control" id="jobTitle" placeholder="Enter Designation" required />
  
              <!-- Client side Designation validation -->
              <div *ngIf="jobTitle.invalid &&  jobTitle.touched" id="error-div" class="alert " style="padding-left: 0px ">
                  <div *ngIf="jobTitle.errors?.['required']" class="float-left ">
                    Designation is required.
                  </div></div> 
  
              <!-- Server side Designation validation -->
              <div *ngIf="userError?.jobTitle" id="error-div" class="alert" style="padding-left: 0px">
                <div class="float-left">
                  {{ userError.jobTitle }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" #email="ngModel" ngModel [(ngModel)]="newEmployee.email" email name="email"
                class="form-control" id="email" placeholder="Enter Email Address" required />
  
              <!-- Client side Email validation -->
              <div *ngIf="email.invalid && email.touched" id="error-div" class="alert " style="padding-left: 0px ">
                  <div *ngIf="email.errors?.['required']" class="float-left ">
                    Email is required.
                  </div>
                  <div *ngIf="email.errors?.['email']" class="float-left ">
                    Enter Email in valid format.
                  </div>
                </div>
  
              <!-- Server side Email validation -->
              <div *ngIf="userError?.email" id="error-div" class="alert" style="padding-left: 0px">
                <div class="float-left">
                  {{ userError.email }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" ngModel name="phone" [(ngModel)]="newEmployee.phone" class="form-control" id="phone"
                placeholder="Enter Phone Number" required minlength="10" maxlength="10" #number="ngModel" />
  
              <!-- Client side Phone validation -->
              <div *ngIf="number.invalid &&  number.touched" id="error-div" class="alert " style="padding-left: 0px ">
                <div *ngIf="number.errors?.['required']" class="float-left ">
                  Phone Number is required.
                </div>
                <div *ngIf="number.errors?.['minlength'] || number.errors?.['maxlength']" class="float-left ">
                  Phone number must be 10 digits long.
                </div>
              </div> 
  
              <!-- Server side Phone validation -->
              <div *ngIf="userError?.phone" id="error-div" class="alert" style="padding-left: 0px">
                <div class="float-left">
                  {{ userError.phone }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="imgUrl">Image URL</label>
              <input type="url" ngModel [(ngModel)]="newEmployee.imgUrl" name="imgUrl" class="form-control" id="imgUrl"
                placeholder="Enter Image URL" required />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="cancel-add" data-dismiss="modal">
                Close
              </button>
              <!-- [disabled]="addForm.invalid" -->
  
              <button [disabled]="addForm.invalid" type="submit" onClick="myFunction()" class="btn btn-success" value="Add Employee">
                Add Employee
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Update Employee Modal -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="updateEmployeeModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Update {{ editEmployee?.name }}'s Details
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateEmployee(updateForm)" class="userForm">
            <div class="form-group">
              <label for="name">Employee Name</label>
              <input type="text" ngModel #uname="ngModel" ngModel="{{ editEmployee?.name }}" name="name"
                class="form-control" id="Name" placeholder="Enter Name" required />
  
              <!-- Client side Name validation -->
              <div *ngIf="uname.invalid &&  uname.touched" id="error-div" class="alert "
                style="padding-left: 0px ">
                <div *ngIf="uname.errors?.['required']" class="float-left ">
                  Name is required.
                </div>
              </div>
  
              <!-- Server side Name validation -->
              <div *ngIf="userError?.name" id="error-div" class="alert" style="padding-left: 0px">
                <div class="float-left">
                  {{ userError.name }}
                </div>
              </div>
            </div>
            <input type="hidden" ngModel="{{ editEmployee?.id }}" name="id" class="form-control" id="id" />
            <div class="form-group">
              <label for="jobTitle">Designation</label>
              <input type="text" #ujobTitle="ngModel" ngModel="{{ editEmployee?.jobTitle }}" name="jobTitle"
                class="form-control" id="jobTitle" placeholder="Enter Job Title" required />
  
              <!-- Client side Designation validation -->
              <div *ngIf="ujobTitle.invalid &&  ujobTitle.touched" id="error-div" class="alert "
                style="padding-left: 0px ">
                <div *ngIf="ujobTitle.errors?.['required']" class="float-left ">
                  Job Title is required.
                </div>
              </div>
  
              <!-- Server side Designation validation -->
              <div *ngIf="userError?.jobTitle" id="error-div" class="alert" style="padding-left: 0px">
                <div class="float-left">
                  {{ userError.jobTitle }}
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" #uemail="ngModel" ngModel="{{ editEmployee?.email }}" name="email" class="form-control"
                id="email" placeholder="Enter Email Address" required />
  
              <!-- Client side Email validation -->
              <div *ngIf="uemail.invalid &&  uemail.touched" id="error-div" class="alert "
                style="padding-left: 0px ">
                <div *ngIf="uemail.errors?.['required']" class="float-left ">
                  Email is required.
                </div>
                <div *ngIf="uemail.errors?.['email']" class="float-left ">
                  Enter Email in valid format.
                </div>
              </div>
  
              <!-- Server side Email validation -->
              <div *ngIf="userError?.email" id="error-div" class="alert" style="padding-left: 0px">
                <div class="float-left">
                  {{ userError.email }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" #unumber="ngModel" ngModel="{{ editEmployee?.phone }}" name="phone" class="form-control"
                id="phone" placeholder="Enter Phone Number" required />
  
              <!-- Client side Phone validation -->
              <div *ngIf="unumber.invalid &&  unumber.touched" id="error-div" class="alert "
                style="padding-left: 0px ">
                <div *ngIf="unumber.errors?.['required']" class="float-left ">
                  Phone Number is required.
                </div>
                <div *ngIf="unumber.errors?.['minlength'] || unumber.errors?.['maxlength']" class="float-left ">
                  Phone number must be 10 digits long.
                </div>
              </div>
  
              <!-- Server side Phone validation -->
              <div *ngIf="userError?.phone" id="error-div" class="alert" style="padding-left: 0px">
                <div class="float-left">
                  {{ userError.phone }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="imgUrl">Image URL</label>
              <input type="url" ngModel="{{ editEmployee?.imgUrl }}" name="imgUrl" class="form-control" id="imgUrl"
                placeholder="Enter Image URL" required />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-update">
                Close
              </button>
              <!-- [disabled]="updateForm.invalid" -->
              <button [disabled]="updateForm.invalid" type="submit" class="btn btn-success">
                Update Employee
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!--Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Delete Employee {{ employeeToDelete?.name }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{ employeeToDelete?.name }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancel-delete" data-dismiss="modal">
            Cancel
          </button>
          <button type="button" (click)="deleteEmployee(employeeToDelete?.id!)" class="btn btn-danger">
            Delete {{ employeeToDelete?.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
